form {
    padding: 0.3em;
}

form input, form button {
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 0.1em;
}

form button {
    cursor: pointer;
    background: none;
    color: whitesmoke;
}
